{% load static %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> RUSTY-CHESS</title>
    <link  rel="stylesheet" href="{% static 'rusty/index.css'%}">
</head>
<body>
    <h1> CHESS MADE EASY</h1>
    <section>
        <h2> RUSTY-CHESS</h2>
        <p> RUSTY-CHESS is a simple chess game that allows you to play against a computer opponent. The game is implemented in Rust and uses the Piston game engine for rendering.</p>
        <p> To start playing, click the button below:</p>
        <button onclick="startGame()">Start Game</button>
    </section>

    <script> </script>
</body>
</html>